.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #3a3a3c;
  padding-top: 12px;
}

.header .heading {
  font-weight: 700;
  font-size: 40px;
  margin: 3px;
  width: fit-content;
  height: fit-content;
}

.header .stats {
  width: 2rem;
  height: 2rem;
  padding: 4px;
  margin: 4px 12px 4px;
}

.header .stats:hover {
  background-color: #3a3a3c;
  border-radius: 4px;
}

.header div {
  width: 2rem;
}
