.keyboard {
  /* margin: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  font-family: "Times New Roman", Times, serif;
}

.keyboard .qwerty {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.keyboard .spacer {
  flex: 0.5;
}
