.keyboard .letter {
  height: 48px;
  background-color: gray;
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  width: 36px;
}

.keyboard .special {
  width: 72px;
}

.keyboard .letter:hover {
  transition: scale 0.1s ease-in-out;
  scale: 1.1;
}
