.keyboard .letter {
    height: 58px;
    background-color: gray;
    margin: 3px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
}

.keyboard .special {
    flex: 1.5;
}