.wordGame {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}

.wordGame .word {
    margin: 3px;
}

.wordGame .word input {
    margin: 3px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    border: 2px solid #3A3A3C;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.wordGame .word input:focus {
   outline: none;
   caret-color: transparent;
}

.wordGame .popup {
    position: absolute;
    background-color: white;
    color: black;
    padding: 7px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 600;
    font-family: sans-serif;
    z-index: 100;
}

.wordGame .invisible {
    visibility: hidden;
}