.wordGame {
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.wordGame .mainGame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
}

.wordGame .mainGame .word {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.wordGame .mainGame .word div {
  margin: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #3a3a3c;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #3a3a3c;
}

.wordGame .mainGame .popup {
  position: absolute;
  background-color: white;
  color: black;
  padding: 7px;
  width: fit-content;
  border-radius: 5px;
  font-weight: 600;
  font-family: sans-serif;
  z-index: 100;
  top: 300px;
}

.wordGame .mainGame .invisible {
  visibility: hidden;
}
